/* .maroonPeach {
  --background: #391021;
  --accent: #fcd34d;
  --foreground: #ffffffdd;
}

.greenGold {
  --background: #002e2c;
  --accent: #fcd34d;
  --foreground: #ffffffde;
}

.yellowGold {
  --background: #4A441E;
  --accent: #fcd34d;
  --foreground: #ffffffde;
} */

.purpleBlue {
  --background: #420937;
  --accent: #4AB0C9;
  --foreground: #ffffffde;
}